1 VERSIONINFO
FILEVERSION      0,1,1,0
PRODUCTVERSION   0,1,1,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "Comments",         "Definition dumper for guerilla.exe"
            VALUE "CompanyName",      "Snowy Mouse"
            VALUE "FileDescription",  "Definition dumper for guerilla.exe"
            VALUE "FileVersion",      "0.1.1"
            VALUE "InternalName",     "gorilla.exe"
            VALUE "OriginalFilename", "gorilla.exe"
            VALUE "ProductName",      "gorilla.exe"
            VALUE "ProductVersion",   "0.1.1"
            VALUE "LegalCopyright",   "'22 Snowy Mouse"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

IDI_ICON1 ICON DISCARDABLE "icon/icon.ico"
